*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
html, body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: white;
}
#Nav-bar{
    height: 100px;
    width: 100%;
   /* background-color: salmon;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
}
#menu{
    display: flex;
    align-items: center;
    justify-content: center;
}
#Nav-bar h3{
    font-size: 17px;
    border: 1.5px solid #000;
    padding: 5px 10px;
    font-weight: 500;
    border-radius: 50px;
}
#Nav-bar i{
    font-size: 17px;
    border: 1.5px solid #000;
    padding: 5px 8px;
    font-weight: 500;
    border-radius: 50px;
}
#Nav-bar h1{
    font-weight: 500;
    font-size: 17px;
    text-transform: uppercase;

}
#Nav-bar button{
    border: 1.5px solid #000;
    padding: 7px 12px;
    border-radius: 50px;
    font-weight: 600;
}
#btn2{
    background-color: orangered;
    color: white;
}
#main>h1{    /* for direct under main to select element*/
    
    font-size: 100px;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* text in one line */
    width: 100%;
    text-align: center;
}
img{
    height: 300px;
    width: 240px;
    object-fit: cover;
    object-position: top;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}

#img1{
    transform: translate(-50%,-50%) rotate(-10deg); 
}
#img2{
    transform: translate(-50%,-50%) rotate(-20deg); 
}
#img3{
    transform: translate(-50%,-50%) rotate(-30deg); 
}
#img4{
    transform: translate(-50%,-50%) rotate(-5deg); 
}
#btm-left{
    position: absolute;
    bottom: 5%;
    left: 2%;
    font-size: 12px;
    text-transform: uppercase;
}
#btm-right{
    position: absolute;
    bottom: 5%;
    right: 2%;
    font-size: 12px;
    text-transform: uppercase;
}
#footer i{
    position: absolute;
    bottom: 8%;
    right: 2%;
    font-size: 20px;
}
#footer .ri-twitter-fill{
    position: absolute;
    bottom: 8%;
    right: 7%;
    font-size: 20px;
}
#footer .ri-facebook-fill{
    position: absolute;
    bottom: 8%;
    right: 12%;
    font-size: 20px;
}

